body {
  background-color: rgb(213, 245, 203);
}

#title, .subtitle, .post_title{
  color: #003049;
}

#title {
  font-size: 36px;
  font-weight: bold;
}

.post_title {
  font-size: 16px;
  font-family: helvetica;
  font-weight: bold;
}

.post {
  backgroud-color: #283618;
  padding: 10px 15px 5px 0px;
  border-right: 5px dashed #D6CCC2;
  border-bottom: 5px solid #D6CCd4;
  border-left: 5px dotted #D6CCd4;
  border-top-width: 3px;
  border-top-color: #D6CCd4;
  border-top-style: solid;
  margin: 10px;
  border-radius: 5px;
}

.post_content{
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: verdana, arial, helvetica;
  text-align: justify;
}

.post_image{
  margin: 0;
  margin-bottom: 15px;
}